{% extends "BoutiqueBundle::template_admin.html.twig" %}

{% block item_article %}active{% endblock %}


{% block breadcrumbs %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li><a href="#">Article</a></li>
    <li class="active">Liste</li>
{% endblock %}

{% block page_title %}Article{% endblock %}

{% block body_content %}

	<div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des articles</h3>
        </div>
            

        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
         	       <tr>
            	    	<th>N°</th>
                        <th>Désignation</th>
                        <th>Description</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Date ajout</th>
                        <th></th>
                	</tr>
                </thead>
                
                <tbody>
                	{% for article in articles %}
	                	<tr>
	                  		<td>{{ article.id }}</td>
                            <td>{{ article.designation }}</td>
                            <td>{{ article.description }}</td>
                            <td>{{ article.quantite }}</td>
                            <td>{{ article.prix }}</td>
                            <td>{{ article.dateAjout|date("d-m-Y H:i:s") }}</td>
                            <td>
                                <a href="{{ path('boutique_article_show', { 'id': article.id }) }}" title="Afficher"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list"></span></button></a>

                                <a href="{{ path('boutique_article_update', { 'id': article.id }) }}" title="Modifier"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button></a>

                                <a href="{{ path('boutique_article_delete', { 'id': article.id }) }}" title="Supprimer" data-confirm="Vous êtes sur le point de supprimer. Etes-vous sûr de bien vouloir effectué cette opération ?"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                                </a>
                            </td>
	                	</tr>
                	{% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="well">
    <label>Ajouter un nouveau article </label> <a href="{{ path('boutique_article_new') }}" title="Afficher"><button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></a>
    </div>
{% endblock %}