{% extends "base_admin.html.twig" %}

{% block body %}

    <header class="main-header">

        {% block header %}
        

        {% endblock %}
    </header>

    <aside class="main-sidebar">
        {% block menu %}
      
        {% endblock %}
      <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
          <h1>

            {% block page_title %}
            {% endblock %}
          </h1>

            
          <ol class="breadcrumb">
            {% block breadcrumbs %}
                <!--li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Invoice</li-->
            {% endblock %}
            
          </ol>
        </section>

        <br><br>
        
        {% block body_content %}

        {% endblock %}
        
    </div>

    {% block footer %}
        <footer class="main-footer no-print">
            <div class="pull-right hidden-xs">
            </div>
            <strong>&copy; 2017 DLC. All rights reserved | Design by Abdoulaye KAMA.</strong> 
        </footer>
    {% endblock %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ asset('ionicons/css/ionicons.min.css') }}">

    <link rel="stylesheet" href="{{ asset('datatables/dataTables.bootstrap.css') }}">

    <link rel="stylesheet" href="{{ asset('css/AdminLTE.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/skins/_all-skins.min.css') }}">
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jQuery/jQuery-2.2.0.min.js') }}"></script>
   

    <!-- Bootstrap 3.3.6 -->
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- DataTables -->
    <script src="{{ asset('datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap.min.js') }}"></script>

    <!-- FastClick -->
    <script src="{{ asset('fastclick/fastclick.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('js/app.min.js') }}"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!--script src="{{ asset('js/pages/dashboard.js') }}"></script-->

    <!-- AdminLTE for demo purposes -->
    <!--script src="{{ asset('js/demo.js') }}"></script-->

    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
{% endblock %}